@model WebApplication2.Models.Game

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ID" />
        <dt>
            @Html.DisplayNameFor(model => model.tytul)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tytul)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data_wydania)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data_wydania)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gatunek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gatunek)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cena)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ocena);
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ocena);
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
