@model WebApplication2.Models.GameGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Games" asp-action="Index" method="get">
    <p>
        <select asp-for="gameGenre" asp-items="Model.genres">
            <option value="">ALL</option>
        </select>
        Title: <input type="text" name="searchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.games[0].tytul)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.games[0].data_wydania)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.games[0].gatunek)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.games[0].cena)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.games[0].ocena)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.games) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tytul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_wydania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gatunek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ocena)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
